@font-face {
  font-family: "Pokemon";
  src: url("Pokemon-Classic.ttf");
}

html {
  border: 0px;
  padding-top: 0px;
  font-family: Pokemon;
  color: white;
  background-image: url("images/Pokemon-Stadium.jpg");
    width: 100%;
    min-height: auto;
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
    overflow: none;
    background-color: black;
  }

header {
  padding: 5px;
  text-align: center;
  font-size: 20px;
}

#main {
  background-color: rgba(0,0,0,0.5);
  height: 600px;
}

.logo {
  width: 25%;
}

.trainerPic {
  height: 300px;
  position: relative;
}

.lauren {
  position: relative;
  float: left;
  padding: 10px;
  width: 30%;
  font-size: 16px;
  color: #992a4c;
}

.martin {
  position: relative;
  float: right;
  text-align: right;
  width: 30%;
  padding: 10px;
  font-size: 16px;
  color: #2265fb;
}

.pokeThumb {
  position: relative;
  height: 100px;
  width: 85px;
  border: 2px solid black;
  padding: 8px;
  background-color: rgba(0,0,0,0.5);
}

.pokeThumb:hover {
  opacity: .5;
}

.mainPoke {
  display: inline-block;
  margin: 0 auto;
  width: 35%;
  height: 400px;
  font-size: 12px;
  text-decoration: none;
}

.fightArea {
  text-align: center;
}

#button {
  top: 20px;
  background-color: white;
  border: none;
  color: black;
  padding: 10px 25px;
  font-family: Pokemon;
}

#button:hover {
  background-color: black;
  color: white;
}

.pokeLT {
  display: inline-block;
  width: 100%;
  height: 50%;
  margin: 0 auto;
  border: 2px dotted #992a4c;
}

#lauren-main {
  position: relative;
  float: left;
  padding: 30px;
  width: 150px;
}

#lauren-main-stats {
  padding: 20px;
  float: right;
}

.pokeMS {
  display: inline-block;
  width: 100%;
  height: 50%;
  margin: 0 auto;
  border: 2px dotted #2265fb;
}

#martin-main {
  position: relative;
  float: right;
  padding: 30px;
  width: 150px;
}

#martin-main-stats {
  padding: 20px;
}
