html, body {
  border: 0px;
  padding-top: 0px;
  background-image: url("images/pokemon-stadium.jpg");
    width: 100%;
    min-height: auto;
    background-repeat: no repeat;
    background-size: cover;
    overflow: none;
  }

.lauren {
  position: relative;
  float: left;
}

.martin {
  position: relative;
  float: right;
}
